* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 40px 0;
}

.header-wrapper {
    max-width: 1200px;
}